cachetools==4.1.1
certifi==2020.12.5
cycler==0.10.0
decorator==4.4.2
et-xmlfile==1.0.1
google-auth==1.19.1
google-auth-oauthlib==0.4.1
h5py==2.10.0
jdcal==1.4.1
kiwisolver @ file:///D:/bld/kiwisolver_1610099949969/work
matplotlib==2.2.3
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
numpy @ file:///D:/bld/numpy_1612117130884/work
oauthlib==3.1.0
openpyxl==3.0.6
pandas @ file:///D:/bld/pandas_1611163649619/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1610471242275/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydot @ file:///D:/bld/pydot_1607932308155/work
pygraphviz==1.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
scipy==1.4.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tornado @ file:///D:/bld/tornado_1610094878337/work
wincertstore==0.2
