certifi==2020.12.5
cycler==0.10.0
decorator==4.4.2
et-xmlfile==1.0.1
h5py==2.10.0
jdcal==1.4.1
kiwisolver
matplotlib==2.2.3
networkx
numpy
oauthlib==3.1.0
openpyxl==3.0.6
pandas
plotly
pyasn1==0.4.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
scipy==1.4.1
six
tornado
wincertstore==0.2
